/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

header {
  background-color: #FF69B4;
  padding: 40px;
  color: white;
  text-align: center;
}

header h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

header h3 {
  font-size: 1.5em;
  margin-top: 20px;
}

section {
  padding: 20px;
  margin: 20px 0;
}

#about-section {
  background-color: white;
  padding: 30px;
  text-align: center;
}

#about-section p {
  font-size: 1.2em;
  line-height: 1.8;
  width: 80%;
  margin: 0 auto;
}

.flower-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
  justify-items: center;
}

.flower-item {
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.flower-image {
  width: 100%;
  max-width: 150px; /* Uniform image size */
  height: auto;
  transition: transform 0.3s ease;
}

.flower-image:hover {
  transform: scale(1.05);
}

.flower-name {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}

.flower-description {
  font-size: 1em;
  color: #777;
  margin-top: 10px;
  max-height: 40px;
  overflow: hidden;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  max-width: 80%;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

footer {
  background-color: #f1f1f1;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: #FF69B4;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

/* Mobile view */
@media screen and (max-width: 768px) {
  .flower-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #pickFlowerText {
    font-size: 1.5em;
  }
}
